*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    /*outline: none; border:none;*/
    text-decoration: none;
    text-transform: capitalize;
    /*transition:all .2s linear;*/
    font-size: 11px;
}

:root{
    --red:#ff3838;
    --black: black;
    --gray: gray;
    --dred:darkred;
}

/* const*/
.red-text{
    color: var(--red);
}

.center-text{
    text-align: center;
}
/**/

/*loader*/

.loader-container{
    position: fixed;
    top: 0; left: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    }

    .loader-container.fade-out{
    top: -120%;
    }

    /**/




header{
    position: relative;
    top:0; left: 0; right:0;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    box-shadow: 0 .25rem .5rem var(--gray);
    color: var(--black);
    background-color: white;
    font-weight: bold;
}

.cutlery{
    height: 30px;
    
}
header .mylogo {
    font: 2rem sans-serif;
    color: var(--red);
    padding-right: 3px;
}
header .mylogo:hover{
    font: 2rem sans-serif;
    color: var(--dred);
}
header a{
    text-transform: uppercase;
    text-decoration: none;
}
header .mynavbar a{
    color: var(--black);
    margin-left: 1rem;
    text-decoration: none;
}

header .mynavbar a:hover{
    color:var(--red);
  }
 
  /* */
#menubar{
  height:  3rem;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--red);
  display: none;

}

#home{
    
    background: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0, 0.3)),url("imgs/home.jpg");
    min-height:600px;
    background-size: cover;
    background-position: center center;
}
.homeContent{
    overflow: hidden;
    text-align: center;
    color: white;

}
.homeContent h1{
    margin-top: 150px;
    font-size: 3rem;
    
}
.homeContent a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 0.5rem;
  
  
   
}

.homeContent a:hover{
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 3px 3px var(--bs-gray);
  margin: 10px 35% ;
  z-index: 9;
  /*prevent popup hidden by othe elements*/

}

/* Add styles to the form container */
.form-container {
  padding: 10px;

}

/*input fields */
.form-container input[type=email] {
  padding: 10px;
  height: 20px;
  margin: 5px 2px;
}



.form-container .btn {
  color: white;
  flex-direction: row;
  margin-left: 10px;
}




/**/
.special p, .special span{
    font-size: 30px;
}
#special{
    min-height:300px;
    width: 100%;

}
.special .specialCards .card .btn{
  position: relative;
  margin: 5px;
  bottom: 5px;

}

.specialCards div{

    margin: 0px 5px;

}

.specialimg{
    margin-top: 5px;
    position: relative;
    left: 40%;
}
.special .specialCards .card-title{
  font-size: large;
}
.special .specialCards .card-text{
color: var(--gray);
font-size: large;
}

  /**/
  .menu p, .menu span{
    font-size: 30px;
}
  .menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
  }
  
  .menu .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 30rem;
    position: relative;
  }
  
  .menu .box-container .box .foodImg{
    height:25rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
    background-color: white;
  }
  
  .menu .box-container .box .price{
    position: absolute;
    top:3rem; left:3rem;
    background:var(--red);
    color:#fff;
    font-size: 1.5rem;
    padding:.5rem 1rem;
    border-radius: .5rem;
  }
  
  .menu .box-container .box h3{
    color:#333;
    font-size: 2rem;
    padding-top: 1rem;
  }
  
  .menu .box-container .box a{
    
    font-size: 1.5rem;
    border: 1px solid black;
  }
  .menu .box-container .box .stars img {
    font-size: 1.7rem;
    padding:1rem .1rem;
    width: 20px;
  } 

  
  /**/
/*review*/

.review{
    margin: 2rem 1rem;
}
.review .card-group{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.review .card-group .card{
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    margin-top: 8rem;
    width: 250px;
    max-height: 300px;
    margin: 7rem 2px;

}
.review .card img{
    border: 1rem solid var(--gray);
    height: 100px;
    width:100px;
    margin: 2rem;
    margin-top: -8rem;
    border-radius: 50%;
}
/*order*/
.order{
    border: 1px dotted var(--gray);
    margin: 5px;
}
.order p , .order span{
    font-size: 30px; 
    text-align: center;
    border-bottom: 1px dotted var(--red);
}
.order .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: .5rem;
  }
  
  .order .row .image{
    flex:1 1 30rem;
  }
  
  .order .row .image img{
    height: 300px;
    width:300px;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .order .row form{
    flex:1 1 50rem;
    padding:1rem;
  }
  
  .order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .order .row form .inputBox input, .order .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width:49%;
  }
  
  .order .row form textarea{
    width:100%;
    resize: none;
    height:10rem;
  }
  
  .order .row form .btn{
    background:white;
    border: 1px solid black;
  }
  
  .order .row form .btn:hover{
    background:var(--red);
  }
  

/**/


/*footer*/

  footer {
    padding-top: 25px;
    background-color: #292c2f;
    color: var(--red);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
  }
  .footerNav li img {
    width: 30px;
    padding: 2px; 
    margin: 2px;
    background-color:var(--red); 
    border: 2px solid black;
    border-radius: 2rem;
  }
  .footerNav{
    display: flex;
    list-style-type: none;
  }
  footer a {
    color: white;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      color: white;
      padding: 0.5em 0.5em;
      margin: 5px;
  }

  footer form .btn {
    color: white;
    border: 1px solid white;
    font-weight: bold;
    left: 1rem;
  }


  /**/

  
  
  
/* btn effects*/
.btn{
    display: inline-block;
    padding:.8rem 3rem;
    border:1rem solid var(--red);
    color:var(--red);
    background-color: rgba(0, 0, 0, 0.529);
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:var(--red);
    transition: .3s linear;
    z-index: -1;
  }
  
  .btn:hover::before{
    width:100%;
    left: 0;
  }
  
  .btn:hover{
    color:#fff;
  }
  /**/
  


/*media queries*/
@media(max-width:900px){

   /*  html{
      font-size: 50%;
    }
   */
    header{
      padding:1rem;
    }
  
    .cutlery{
        height: 20px;
        
    }
    section{
      padding:1rem;
    }
    footer{
      height: 350px;
      padding: 1rem;
    }
    footer form .form-group{   
       display: flex;
       flex-direction: row;
    }

  
  }

  @media(max-width:700px){
  
    #menubar{
        display: initial;
      }
  
    header .mynavbar{

      position: absolute;
      top:100%; left: 0; right:0;
      border-top: .1rem solid rgba(0,0,0,.1);
      background-color: white;
      /*hide navbar menu*/
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
    }
  
    header .mynavbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      overflow: hidden;
    }
  
    header .mynavbar a{
      margin: 1.5rem;
      padding:1.5rem;
      display: block;
      border:.2rem solid var(--gray);
      border-left:.5rem solid var(--red);
      color: var(--black);
      background:rgba(0,0,0,.1);
    }
    .specialCards div{
 
        min-width: 100%;
    
    }
    .review .card-group .card{
        min-width: 100%;
        margin: 6rem 1rem;
 
      }

      .order .row{
        flex-direction: row;
      }
      .order .row form .inputBox input, .order .row form textarea{
        font-size: 1rem;
      }

      .order .row .image img{
        height: 150px;
        width: 150px;
        
      }
      .about .support .column{
        width: 100%;
        display: block;
       }
       .about .card {
        margin: 2px;
      }

      footer {
        height: 400px;
        padding: 1rem;

      }
      footer form .form-group{   
        display: flex;
        flex-direction: column;
     }
     footer form .form-group button{
      width: max-content;
     }

  
  }

  @media(max-width:500px){
     /*  
      html{
        font-size: 50%;
      } */

      .form-popup{
        margin: auto;
      }
      .review .card-group .card{
        min-width: 100%;
        margin: 5rem 1rem;
 
      }
      .order .row .image img{
        display: none;
        
      }
  
    .order .row form .inputBox input{
      width:100%;
    }

    .about .support img{
      display:none;
    }
 
  }

  /**/



.about{
    font-size: large;
  }
.about .support .column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about .about-section {
  margin: 0px 0px 10px 0px;  /*up right down left*/
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about  .about-section h1{
  border-bottom: 1px solid gray;
}
.about .about-section .mission{
  color: darkgray;
  line-height: 2px;
}

.about .support .container {
  padding: 0 16px;
}

.about .support .container::after,
.about .row::after {
  content: "";
  clear: both;
  display: table;
}

.about .support .title {
  color: grey;
}
.about .support{
  text-align: center;
}
.about .support img{
  width: 100px;
  margin:10px auto;
}
.about .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.about .button:hover {
  background-color: #555;
}



/**/