*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    /*outline: none; border:none;*/
    text-decoration: none;
    text-transform: capitalize;
    /*transition:all .2s linear;*/
}

:root{
    --red:#ff3838;
    --black: black;
    --gray: gray;
    --dred:darkred;
}

/* const*/
.red-text{
    color: var(--red);
}

.center-text{
    text-align: center;
}
/**/

header{
    position: relative;
    top:0; left: 0; right:0;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    box-shadow: 0 .25rem .5rem var(--gray);
    color: var(--black);
    background-color: white;
    font-weight: bold;
}

.cutlery{
    height: 30px;
    
}
header .mylogo {
    font: 2rem sans-serif;
    color: var(--red);
    padding-right: 3px;
}
header .mylogo:hover{
    font: 2rem sans-serif;
    color: var(--dred);
}
header a{
    text-transform: uppercase;
    text-decoration: none;
}
header .mynavbar a{
    color: var(--black);
    margin-left: 1rem;
    text-decoration: none;
}

header .mynavbar a:hover{
    color:var(--red);
  }
 
#menubar{
    height:  3rem;
    cursor: pointer;
   border-radius: 100%;
   background-color: var(--red);
   display: none;

}

#home{
    
    background: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0, 0.3)),url("imgs/shaw.jpg");
    min-height:600px;
    background-size: cover;
    background-position: center center;
}
.homeContent{
    overflow: hidden;
    text-align: center;

    color: white;

}
.homeContent h1{
    margin-top: 150px;
    font-size: 3rem;
    
}
.homeContent a{
    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem;
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 0.5rem;
   
}

.homeContent a:hover{
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/**/
#special{
    min-height:300px;
    width: 100%;
}

.specialCards div{
 
    margin: 0px 5px;

}

.specialimg{
    margin-top: 5px;
    position: relative;
    left: 40%;
}
/**/
.btn{
    display: inline-block;
    padding:.8rem 3rem;
    border:1rem solid var(--red);
    color:var(--red);
    background-color: rgba(0, 0, 0, 0.529);
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:var(--red);
    transition: .3s linear;
    z-index: -1;
  }
  
  .btn:hover::before{
    width:100%;
    left: 0;
  }
  
  .btn:hover{
    color:#fff;
  }

  /**/
  .menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
  }
  
  .menu .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 30rem;
    position: relative;
  }
  
  .menu .box-container .box .foodImg{
    height:25rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
    background-color: white;
  }
  
  .menu .box-container .box .price{
    position: absolute;
    top:3rem; left:3rem;
    background:var(--red);
    color:#fff;
    font-size: 1.5rem;
    padding:.5rem 1rem;
    border-radius: .5rem;
  }
  
  .menu .box-container .box h3{
    color:#333;
    font-size: 2rem;
    padding-top: 1rem;
  }
  
  .menu .box-container .box a{
    
    font-size: 1.5rem;
    border: 1px solid black;
  }
  .menu .box-container .box .stars img {
    font-size: 1.7rem;
    padding:1rem .1rem;
    width: 20px;
  } 

  
  /**/






  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 350px;
  }
  

  /* Sticky footer style and color
  -------------------------------------------------- */
  footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: var(--red);
  }
  .footerNav li img {
    width: 30px;
    padding: 2px; 
    margin: 2px;
    background-color:var(--red); 
    border: 2px solid black;
    border-radius: 2rem;
  }
  .footerNav{
    display: flex;
    list-style-type: none;
  }
  footer a {
    color: white;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: white;
      padding: 0.7em 1em;
      margin: 0.5rem;
  }

  footer form .btn {
    color: white;
    border: 1px solid white;
    font-weight: bold;
    left: 1rem;
  }

  /**/

  
  
  
  /* footer {
    text-align: center;
    padding: 3px;
    background-color: white;
    color: black;
  }
  footer p {
    color: black;
  }
  
  footer p a{
    text-decoration: none;
    color: black;
} */


/*media queries*/
@media(max-width:900px){

    html{
      font-size: 60%;
    }
  
    header{
      padding:1rem;
    }
  
    .cutlery{
        height: 20px;
        
    }
    section{
      padding:1rem;
    }

  
  }

  @media(max-width:650px){
  
    #menubar{
        display: initial;
      }
  
    header .mynavbar{

      position: absolute;
      top:100%; left: 0; right:0;
      border-top: .1rem solid rgba(0,0,0,.1);
      background-color: white;
      /*hide navbar menu*/
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
    }
  
    header .mynavbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      overflow: hidden;
    }
  
    header .mynavbar a{
      margin: 1.5rem;
      padding:1.5rem;
      display: block;
      border:.2rem solid var(--gray);
      border-left:.5rem solid var(--red);
      color: var(--black);
      background:rgba(0,0,0,.1);
    }
    .specialCards div{
 
        min-width: 100%;
    
    }
  
  }
  
  @media(max-width:450px){
  
    html{
      font-size: 50%;
    }
    footer {
        height: 800px;
      }
  /*
    .order .row form .inputBox input{
      width:100%;
    }
  */
  }